<ul class="list-group repo-info">
  {{#each repo}}
  <li class="list-group-item d-flex justify-content-between align-items-center {{selectedRepo repo}}">
    {{#if private}}
    <span class="glyphicon glyphicon-lock badge" aria-hidden="true"></span>
    {{/if}}
    <a href="{{../config.gitURL}}/{{repo}}/readme">{{createdUser}}/{{repo}}</a>
  </li>
  {{/each}}
  {{#if userAccess.createRepo}}
  <li class="list-group-item text-center align-center">
    <a href="/user/createRepo" data-test="userCreateRepo"> + Create Repository</a>
  </li>
  {{/if}}
</ul>