<ul class="list-group repo-info">
  {{#each repo}}
  <li class="list-group-item d-flex justify-content-between align-items-center {{selectedRepo repo}}">
    <a href="{{../config.gitURL}}/{{repo}}">{{createdUser}}/{{repo}}</a>
    {{#if private}}
    <span class="badge badge-pill"><img src="/img/private.png"></span>
    {{/if}}
  </li>
  {{/each}}
  <li class="list-group-item text-center align-center">
    <a href="/user/createRepo"> + Create Repository</a>
  </li>
</ul>