<div class="col-md-12">
    <div class="row">
        <div class="col-md-12 alert alert-danger">
            Manual Server Restart is required. This page is provided to ease the config file edition process.
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form method="POST">
                <table class="table text-center table-condensed">
                    <tr>
                        <th class="align-middle">Port</th>
                        <td>
                            <input type="number" class="form-control" value="{{config.port}}">
                        </td>
                        <th class="align-middle">Application Name</th>
                        <td>
                            <input type="text" class="form-control" value="{{config.appName}}">
                        </td>
                    </tr>
                    <tr>
                        <th class="align-middle">Git URL</th>
                        <td>
                            <input type="text" class="form-control" value="{{config.gitURL}}" disabled>
                        </td>
                        <th class="align-middle">Database Name</th>
                        <td>
                            <input type="text" class="form-control" value="{{config.dbName}}">
                        </td>
                    </tr>
                    <tr>
                        <th class="align-middle">Database Type</th>
                        <td>
                            <select class="form-control">
                                <option value="Mongo">MongoDB</option>
                            </select>
                        </td>
                        <th class="align-middle"></th>
                        <td></td>
                    </tr>
                    <tr>
                        <th class="align-middle">DB User Name</th>
                        <td>
                            <input type="text" class="form-control" value="{{config.dbUser}}">
                        </td>
                        <th class="align-middle">DB Password</th>
                        <td>
                            <input type="password" class="form-control" value="{{config.dbPassword}}">
                        </td>
                    </tr>
                    <tr>
                        <th class="align-middle">DB URI</th>
                        <td>
                            <input type="text" class="form-control" value="{{config.dbURL}}">
                        </td>
                        <th class="align-middle">DB Port</th>
                        <td>
                            <input type="text" class="form-control" value="{{config.dbPort}}">
                        </td>
                    </tr>
                    <tr>
                        <th class="align-middle">SSL Enabled</th>
                        <td>
                            <select class="form-control" disabled>
                                <option value="false">False</option>
                                <option value="true" {{#if config.enableSSL}} selected{{/if}}>True</option>
                            </select>
                        </td>
                        <th class="align-middle">Enable Sendgrid Mail</th>
                        <td>
                            <select class="form-control" disabled>
                                <option value="false">False</option>
                                <option value="true" {{#if config.sgMail}} selected{{/if}}>True</option>
                            </select>
                        </td>
                    </tr>
                </table>
                <button type="submit" class="btn btn-block btn-primary">Update Config</button>
            </form>
        </div>
    </div>
</div>