<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" href="{{config.gitURL}}/{{repoName}}/readme">Read Me</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="{{config.gitURL}}/{{repoName}}/files">Files</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{config.gitURL}}/{{repoName}}/branches">Branch</a>
    </li>
    {{#if setting}}
    <li class="nav-item">
        <a class="nav-link" href="{{config.gitURL}}/{{repoName}}/setting">Setting</a>
    </li>
    {{/if}}
</ul>