{{#if setting}}
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" href="{{config.gitURL}}/{{repoName}}/readme">Read Me</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{config.gitURL}}/{{repoName}}/files">Files</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{config.gitURL}}/{{repoName}}/branches">Branch</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="{{config.gitURL}}/{{repoName}}/setting">Setting</a>
    </li>
</ul>
<div class="row">
    <div class="col-md-12">
        <form method="POST">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="repoType" value="checkedValue"> Public
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="repoType" value="checkedValue" {{#if private}}checked{{/if}}> private
                        </label>
                    </div>
                </div>
                <div class="col-md-6">
                    <button type="submit" class="btn btn-primary">Update Setting</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <form method="POST" id="repoDelete">
            <button class="btn btn-danger btn-block" onclick="deleteRepo()" type="button" name="repoName">Delete Repository</button>
        </form>
    </div>
</div>
{{else}}
<p class="text-center">Access Denied</p>
{{/if}}