{{#if setting}}
<ul class="nav nav-tabs">
    <li role="presentation">
        <a data-test="gitReadMe" href="{{config.gitURL}}/{{repoName}}/readme/{{activeBranch}}">Read Me</a>
    </li>
    <li role="presentation">
        <a data-test="gitFiles" href="{{config.gitURL}}/{{repoName}}/files/{{activeBranch}}">Files</a>
    </li>
    <li role="presentation">
        <a data-test="gitBranches" href="{{config.gitURL}}/{{repoName}}/branches">Branch</a>
    </li>
    <li role="presentation">
        <a data-test="gitPullRequest" href="{{config.gitURL}}/{{repoName}}/pullrequest/{{activeBranch}}">Pull Request</a>
    </li>
    <li role="presentation">
        <a data-test="gitHistory" href="{{config.gitURL}}/{{repoName}}/history/{{activeBranch}}">History</a>
    </li>
    <li role="presentation" class="active">
        <a data-test="gitSetting" href="{{config.gitURL}}/{{repoName}}/setting/{{activeBranch}}">Setting</a>
    </li>
    <li role="presentation" class="active">
        <ul class="dropdown-menu">
            <li>
                <a href="#">HTML</a>
            </li>
            <li>
                <a href="#">CSS</a>
            </li>
            <li>
                <a href="#">JavaScript</a>
            </li>
        </ul>
    </li>
    <li class="pull-right">
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Branch :
                <strong>{{activeBranch}}</strong>
                {{#if emptyBranch}}
                <span class="caret"></span>
                {{/if}}
            </button>
            {{#if emptyBranch}}
            <ul class="dropdown-menu">
                {{#each branchDropDown}}
                <li>
                    <a href="{{../config.gitURL}}/{{../repoName}}/setting/{{this}}">{{this}}</a>
                </li>
                {{/each}}
            </ul>
            {{/if}}
        </div>
    </li>
</ul>
<div class="col-md-12 tab-border setting-structure">
    <div class="row">
        <div class="col-md-12">
            <form method="POST">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" name="repoType" value="checkedValue"> Public
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" name="repoType" value="checkedValue" {{#if private}}checked{{/if}}> private
                            </label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <button type="submit" class="btn btn-primary">Update Setting</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form method="POST" data-test="gitSettingDeleteForm" id="repoDelete" action="">
                <input class="btn btn-danger btn-block" data-test="gitSettingDeleteSubmit" onclick="deleteRepo()" value="Delete Repository"
                    name="repoName" readonly>
            </form>
        </div>
    </div>
    {{else}}
    <p class="text-center">Access Denied</p>
    {{/if}}
</div>