{{#if setting}}
<ul class="nav nav-tabs">
    <li role="presentation">
        <a data-test="gitReadMe" href="{{config.gitURL}}/{{repoName}}/readme">Read Me</a>
    </li>
    <li role="presentation">
        <a data-test="gitFiles" href="{{config.gitURL}}/{{repoName}}/files">Files</a>
    </li>
    <li role="presentation">
        <a data-test="gitBranches" href="{{config.gitURL}}/{{repoName}}/branches">Branch</a>
    </li>
    <li role="presentation">
        <a data-test="gitHistory" href="{{config.gitURL}}/{{repoName}}/history">History</a>
    </li>
    <li role="presentation" class="active">
        <a data-test="gitSetting" href="{{config.gitURL}}/{{repoName}}/setting">Setting</a>
    </li>
</ul>
<div class="col-md-12 tab-border">
    <div class="row">
        <div class="col-md-12">
            <form method="POST">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" name="repoType" value="checkedValue"> Public
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" name="repoType" value="checkedValue" {{#if private}}checked{{/if}}> private
                            </label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <button type="submit" class="btn btn-primary">Update Setting</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form method="POST" data-test="gitSettingDeleteForm" id="repoDelete" action="">
                <input class="btn btn-danger btn-block" data-test="gitSettingDeleteSubmit" onclick="deleteRepo()" value="Delete Repository"
                    name="repoName" readonly>
            </form>
        </div>
    </div>
    {{else}}
    <p class="text-center">Access Denied</p>
    {{/if}}
</div>